@import url("./css/reset.css");
@import url("./css/utility.css");


body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: radial-gradient(farthest-corner at 40% 5%, rgb(198, 55, 131), rgb(0, 25, 63), black);
	background-repeat: no-repeat;
}

h1 {							/* for the BRUCE LEE attribution */
	color: antiquewhite;
	font-style: italic;
	font-size: 12px;
}


h2,
h3,
h4,
h5,
h6::first-letter {
	font-family: Georgia, 'Times New Roman', Times, serif;				/* for the GIANT QUOTE MARKS on either side of the text */
	font-size: 100pt;
	color: antiquewhite;
} 

p {						     	/* for the QUOTE text */
	color: antiquewhite;
	font-size: x-large;
	line-height: 1.4;  
}


/* Layout */

.container__master {
	display: flex; 
	padding: 1.5rem;
	height: 20rem; 
}

.container__sub {
	display: flex;
	height: 20rem; 
	border: 1px solid white;
	padding: 0;
}

.quoteContainL {
	display: flex;
	width: 5rem;
	height: 20rem; 
	justify-content: right;	 
	align-items: flex-start;
}

.textContain {
 	display: flex;
	flex-direction: column;
	width: 19rem;
	height: 20rem; 
	justify-content: center;
	text-align: center;
}


.quoteContainR {
	display: flex;
	width: 5rem;
	height: 20rem; 
 	justify-content: left; 
	align-items: flex-end;
}

/* Media Queries */

@media (min-width: 699px) {
	.container__master {
		width: 70%
	}

}

/* Desktop Media Query */
@media (min-width: 999px) {
	.container__master {
		width: 90%
	}

}
