@import url("./css/reset.css");

html {
	padding: 20;
	margin: 0;
}

body {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	background-image: radial-gradient(farthest-corner at 50% 10%, rgb(209, 75, 97), rgb(0, 1, 74), black);
	background-repeat: no-repeat;
}

h1 {
	color: antiquewhite;
	font-style: italic;
	font-size: 12px;
	line-height: 1.6;
	margin: 0rem 2rem 1.6rem; 
}


h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	font-size: 100px;
	color: antiquewhite;
	line-height: 4; 
	margin: 0 2rem 1.6rem; 
}

p {
	color: antiquewhite;
	line-height: 1.6;
	margin: 0 0 1.6rem;
}

/* a {
	color: #0056b3;
	border-bottom: 2px solid transparent;
	transition: all 0.5s ease-in-out;
}

a:hover {
	color: #002348;
	border-bottom: 2px solid #002348;
}

hr {
	margin: 3.2rem 1.6rem;
	color: #555555;
	border-color: #555555;
} */

/* Layout */

.container__master {
	display: flex;
	padding: 40px;
	width: 90%
}

.container__sub {
	display: flex;
	border: 1px solid white;
	align-items: center;
}

.quoteContainL {
	display: flex;
	justify-content: right;
	width: 6rem;
	align-items: top; 
}

.textContain {
 	display: flex;
    align-items: center;
	width: 18rem;
	height: 18rem;
	text-align: center;
}


.quoteContainR {
	display: flex;
	width: 6rem;
 	justify-content: left; 
	align-items: bottom; 
}

/* Media Queries */

@media (min-width: 699px) {

	.container__sub {
		flex-direction: row;
	}
}

/* Desktop Media Query */
@media (min-width: 999px) {

	.container__sub {
		flex-direction: row;
	}

}
